body {
  background-color: lightyellow;
  margin: 0;
  padding: 16px;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
}

* {
  font-family: inherit;
}

button,
input {
  border: 0;
  background-color: #D1E7F8;
  border: 1px solid #D1E7F8;
  color: #1A64A7;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 4px;
}

input {
  background: white;
  border: 1px solid #1A64A7;
  margin: 0 16px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #2586DD;
}

.cocktail-result-container {
  margin-top: 48px;
}

.cocktail-container {
  margin: 0;
  padding: 0;
}

.cocktail-h1-title {
  margin-top: 0;
}

.cocktail-h1-title,
.cocktail-title {
  color: #1A64A7;
}

.cocktail-cover-img {
  height: 128px;
  margin-bottom: 30px;
  width: 128px;
}

.cocktail-img {
  max-height: 350px;
  max-width: 100%;
}

.cocktail-table {
  empty-cells: hide;
  text-align: left;
}

.cocktail-table th,
.cocktail-table td {
  padding: 8px;
}

.cocktail-table tbody tr:nth-child(even) {
  background-color: #eee;
}

td:empty {
  visibility: hidden;
}
